<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palmap.exhibition">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许应用写（非读）用户的外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许获取位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 允许程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 蓝牙相关权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <service android:name="com.palmaplus.nagrand.position.ble.BeaconService" />

        <activity
            android:name=".view.impl.PalmapViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ngr_AppTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.impl.DestinationSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ngr_AppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <service
            android:name=".service.LampSiteLocationService"
            android:exported="false"/>
    </application>

</manifest>